{% extends 'GaradPlatformBundle::base.html.twig' %}

{% block title %}relationType{% endblock %}

{% block body %}

    <div class="container-sidenav">
        <div class="row">
            <div class="col s12">
                <h5 class="wordSearched">Ensemble des mots pour : relationType (à completer) </h5>
                <blockquote id="relationIn" class="blockquote-in">
                {% if relation.in is defined %}
                    {% for wordIn in relation.in %}
                        {% set word = wordIn.name|url_encode %}
                        <a href="{{ path('jdm_search', {'word' : word|raw}) }}">
                            {% if wordIn.formattedName is empty %}
                                {{ wordIn.name }}
                            {% else %}
                                {{ wordIn.formattedName }}
                            {% endif %}
                        </a>
                    {% endfor %}
                {% endif %}
                </blockquote>
                <blockquote id="relationOut" class="blockquote-out">
                {% if relation.out is defined %}
                    {% for wordOut in relation.out %}
                        {% set word = wordOut.name|url_encode %}
                        <a href="{{ path('jdm_search', {'word' : word|raw}) }}">
                            {% if wordOut.formattedName is empty %}
                                {{ wordOut.name }}
                            {% else %}
                                {{ wordOut.formattedName }}
                            {% endif %}
                        </a>
                    {% endfor %}
                {% endif %}
                </blockquote>
                <button id="readMore">Afficher la suite</button>
            </div>
        </div>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script>
      var element = document.getElementById("readMore");
      element.onclick = function readMore() {
        var div = document.getElementById("relationIn");
          $.ajax({
              url : '{{ app.request.uri }}' +'/' + 2,
              type : 'GET',
              dataType : 'json', // On désire recevoir du json
              success : function(json, statut){ // code_html contient le HTML renvoyé
                console.log(json); //Manipule ton objet comme ca :D
              }
          });
      }
    </script>
{% endblock %}

{% block javascript %}

    <script src="{{ asset('build/app.js') }}"></script>
{% endblock %}