{% extends 'GaradPlatformBundle::base.html.twig' %}

{% block title %}relationType{% endblock %}

{% block body %}
    <nav>
        <div class="nav-wrapper">
          <div style="margin-left: 20px;">
                <a href="{{ path('jdm_search', {'word' : node.name}) }}" class="breadcrumb"> {% if node.formattedName != "" %} {{ node.formattedName }} {% else %} {{ node.name }} {% endif %}</a>
                <a href="#" class="breadcrumb">{{ relation.relationType.code }}</a>
          </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div>
                 <div class="card">
                    <div class="accordion">
                        <div class="card-title section">
                            <span> Description </span>
                            <i class="material-icons">chevron_right</i>
                        </div>
                        <div class="divider"></div>
                    </div>
                     <div class="card-content">
                        {{ relation.relationType.description }}
                     </div>
                 </div>
                {% if relation.in is defined %}
                <div class="card">
                    <div class="accordion">
                        <div class="card-title section">
                            <span> Relations Entrantes</span>
                            <i class="material-icons">chevron_right</i>
                        </div>
                        <div class="divider"></div>
                    </div>
                    <div class="card-content">
                        <blockquote id="relationIn" class="blockquote-in">
                                {% for wordIn in relation.in %}
                                    {% set word = wordIn.name|url_encode %}
                                    <a class="tooltipped" data-tooltip="weight : {{ wordIn.weight }}" href="{{ path('jdm_search', {'word' : word|raw}) }}">
                                        {% if wordIn.formattedName is empty %}
                                            {{ wordIn.name }}
                                        {% else %}
                                            {{ wordIn.formattedName }}
                                        {% endif %}
                                    </a>
                                {% endfor %}

                            {% if relation.isMoreToLoadIn %}
                                 <button id="readMoreIn">Afficher la suite >></button>
                             {% endif %}
                        </blockquote>
                    </div>
                 </div>
                 {% endif %}

                 {% if relation.out is defined %}
                 <div class="card">
                    <div class="accordion">
                        <div class="card-title section">
                            <span> Relations Sortantes</span>
                            <i class="material-icons">chevron_right</i>
                        </div>
                        <div class="divider"></div>
                    </div>

                    <div class="card-content">
                        <blockquote id="relationOut" class="blockquote-out">
                                {% for wordOut in relation.out %}
                                    {% set word = wordOut.name|url_encode %}
                                    <a class="tooltipped" data-tooltip="weight : {{ wordOut.weight }}" href="{{ path('jdm_search', {'word' : word|raw}) }}">
                                        {% if wordOut.formattedName is empty %}
                                            {{ wordOut.name }}
                                        {% else %}
                                            {{ wordOut.formattedName }}
                                        {% endif %}
                                    </a>
                                {% endfor %}
                            {% if relation.isMoreToLoadOut %}
                                <button id="readMoreOut">Afficher la suite >></button>

                            {% endif %}
                        </blockquote>
                    </div>
                   {% endif %}
                </div>
         </div>
    </div>
    
{% endblock %}

{% block javascript %}

    <script src="{{ asset('build/relationTypePage.js') }}"></script>
{% endblock %}