{% extends 'GaradPlatformBundle::base.html.twig' %}

{% block title %}{{ cache.name }}{% endblock %}

{% block body %}
    <ul class="side-nav fixed" id="nav-mobile">
        <div class="collection">
        {% for relationType in cache.relationTypes %}
            <a href="#{{ relationType.code }}" class="collection-item"> {{ relationType.code }} </a>
        {% endfor %}
        </div>
    </ul>
    <div class="container-sidenav">
        <div class="row">
            <div class="col s12">
                <h5 class="wordSearched">Mot recherché : <span class="searched-word"> {{ cache.name }}</span></h5>
                {% if cache.description != null %}
                <div class="description">
                    <div class="card hoverable">
                        <div class="accordion">
                            <div class="card-title section">
                                <span class="">Description</span>
                                <i class="material-icons">chevron_right</i>
                            </div>
                            <div class="divider"></div>
                        </div>
                        <div class="card-content">
                            <p>
                                {{cache.description|replace({'\n': '<br>'})| striptags('<br>')| raw }}
                            </p>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% for relationType in cache.relationTypes %}
                    <div id= "{{ relationType.code }}" class="relations">
                        <div class="card hoverable">
                            <div class="accordion">
                                <div class="card-title section">
                                    <span class=""> {{ relationType.code }}</span>
                                    <i class="material-icons">chevron_right</i>
                                </div>
                                <div class="divider"></div>
                            </div>
                            <div class="card-content">
                                {% for relationIn in relationType.relations.in %}
                                    <a href="/jdm/{{ relationIn.node.name }}">{{ relationIn.node.name }}</a>
                                {% endfor %}
                                {% for relationOut in relationType.relations.out %}
                                    <a href="/jdm/{{ relationOut.node.name }}">{{ relationOut.node.name }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{{ asset('build/app.js') }}"></script>
{% endblock %}