{% extends 'GaradPlatformBundle::base.html.twig' %}

{% block title %}{{ cache.name }}{% endblock %}

{% block body %}
    <ul class="side-nav fixed" id="nav-mobile" xmlns="http://www.w3.org/1999/html">
        <div class="descriptif">
            <p> Mot Recherché : {{ cache.name }} </p>
            <p> Id : {{ cache.id }}
            <p> Type de node : {{ cache.nodeTypes[cache.nodeType].name }}</p>
            <p> Nombre de relation types : {{ cache.relationTypes|length }} </p>
        </div>
        <div class="input-field z-depth-3 sidebar-search">
            <input placeholder="search" type="text" id="autocomplete-input" class="autocomplete">
            <i class="material-icons">search</i>
        </div>
        <div class="collection">
        {% for relationType in cache.relationTypes %}
            <a href="#{{ relationType.id }}" class="collection-item"> {{ relationType.code }} </a>
        {% endfor %}
        </div>
    </ul>
    <div class="container-sidenav">
        <div class="row">
            <div class="col s12">
                <h5 class="wordSearched">Mot recherché : <span id="{{ cache.id }}" class="searched-word"> {{ cache.name }}</span></h5>
                {% if cache.description != null %}
                <div class="description">
                    <div class="card">
                        <div class="accordion">
                            <div class="card-title section">
                                <span>Description</span>
                                <i class="material-icons">chevron_right</i>
                            </div>
                            <div class="divider"></div>
                        </div>
                        <div class="card-content">
                            <p>
                                {{cache.description|replace({'\n': '<br>'})| striptags('<br>')| raw }}
                            </p>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% for relationType in cache.relationTypes %}
                    <div id= "{{ relationType.id }}" class="relations scrollspy">
                        <div class="card">
                            <div class="accordion">
                                <div class="card-title section">
                                    <span> {{ relationType.code }}</span>
                                    <i class="material-icons">chevron_right</i>
                                </div>
                                <div class="divider"></div>
                            </div>
                            <div class="card-content">
                                <blockquote class="blockquote-in">
                                {% for relationIn in relationType.relations.in %}
                                    {% set word = relationIn.node.name|url_encode %}
                                    <a class="tooltipped" data-position="top" data-delay="50" data-tooltip="Relation Entrante" href="{{ path('jdm_search', {'word' : word|raw}) }}">
                                        {% if relationIn.node.formattedName is empty %}
                                            {{ relationIn.node.name }}
                                        {% else %}
                                            {{ relationIn.node.formattedName }}
                                        {% endif %}
                                    </a>
                                {% endfor %}
                                </blockquote>
                                <blockquote class="blockquote-out hide-on-small-only">
                                {% for relationOut in relationType.relations.out %}
                                    {% set word = relationOut.node.name|url_encode %}
                                    <a class="tooltipped" data-position="top" data-delay="50" data-tooltip="Relation Sortante" href="{{ path('jdm_search', {'word' : word|raw}) }}">
                                        {% if relationOut.node.formattedName is empty %}
                                            {{ relationOut.node.name }}
                                        {% else %}
                                            {{ relationOut.node.formattedName }}
                                        {% endif %}
                                    </a>
                                {% endfor %}
                                </blockquote>
                                {%  if relationType.relations.in|length == 30 or relationType.relations.out|length == 30 %}
                                    <div style="text-align: right">
                                        <a href="{{ path('jdm_display_relationtype', {'idNode' : cache.id, 'idRelationType' : relationType.id}) }}">Afficher tout</a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <footer class="page-footer">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Jaam JDM</h5>
                        <p class="grey-text text-lighten-4">Projet proposé dans le cadre de l'UE HMIN 302 : E-Application</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Participants</h5>
                        <ul>
                            <li>Carmona Anthony</li>
                            <li>Garcia Adam</li>
                            <li>Pyz Maxime</li>
                            <li>Ramos Jean Francois</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    © 2018 Copyright Text
                </div>
            </div>
        </footer>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{{ asset('build/app.js') }}"></script>
{% endblock %}