{% extends 'GaradPlatformBundle::base.html.twig' %}

{% block title %}{{ cache.name }}{% endblock %}

{% block body %}
    <ul class="side-nav fixed" id="nav-mobile">
        <div class="collection">
        {% for relationType in cache.relationTypes %}
            <a href="#{{ relationType.id }}" class="collection-item"> {{ relationType.code }} </a>
        {% endfor %}
        </div>
    </ul>
    <div class="container-sidenav">
        <div class="row">
            <div class="col s12">
                <h5 class="wordSearched">Mot recherché : <span id="{{ cache.id }}" class="searched-word"> {{ cache.name }}</span></h5>
                {% if cache.description != null %}
                <div class="description">
                    <div class="card">
                        <div class="accordion">
                            <div class="card-title section">
                                <span>Description</span>
                                <i class="material-icons">chevron_right</i>
                            </div>
                            <div class="divider"></div>
                        </div>
                        <div class="card-content">
                            <p>
                                {{cache.description|replace({'\n': '<br>'})| striptags('<br>')| raw }}
                            </p>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% for relationType in cache.relationTypes %}
                    <div id= "{{ relationType.id }}" class="relations scrollspy">
                        <div class="card">
                            <div class="accordion">
                                <div class="card-title section">
                                    <span> {{ relationType.code }}</span>
                                    <i class="material-icons">chevron_right</i>
                                </div>
                                <div class="divider"></div>
                            </div>
                            <div class="card-content">
                                {% for relationIn in relationType.relations.in %}
                                    {% set word = relationIn.node.name|url_encode %}
                                    <a href="{{ path('jdm_search', {'word' : word|raw}) }}">
                                        {% if relationIn.node.formattedName is empty %}
                                            {{ relationIn.node.name }}
                                        {% else %}
                                            {{ relationIn.node.formattedName }}
                                        {% endif %}
                                    </a>
                                {% endfor %}
                                <br>
                                {% for relationOut in relationType.relations.out %}
                                    {% set word = relationOut.node.name|url_encode %}
                                    <a href="{{ path('jdm_search', {'word' : word|raw}) }}">
                                        {% if relationOut.node.formattedName is empty %}
                                            {{ relationOut.node.name }}
                                        {% else %}
                                            {{ relationOut.node.formattedName }}
                                        {% endif %}
                                    </a>
                                    <a href="{{ path('jdm_display_relationtype', {'idNode' : cache.id, 'idRelationType' : relationType.id}) }}">Afficher tout</a>

                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{{ asset('build/app.js') }}"></script>
{% endblock %}